

/* xs */
@media (max-width: 768px) {

	.hero {
		background: url() no-repeat center center;
	}

}

/* sm */
@media (min-width: 768px) {

	.hero {
		background: url() no-repeat center center;
	}

}

/* md */
@media (min-width: 992px) {

	.hero {
		background: url() no-repeat center center;
	}

}

/* lg */
@media (min-width: 1200px) {

	.hero {
		background: url() no-repeat center center;
	}

}