	/* Scss Document */

/* Colors */

$color-1: #53c9e5; /* Logo Blue */
$color-2: #18cd94; /* Fun Green */
$color-3: #ff3b57; /* Attention Red */
$color-4: #e9f0f4; /* Faint Grey */
$color-5: #c8d3da; /* Light Grey */
$color-6: #949fa5; /* Mid Grey */
$color-7: #5f6568; /* Deep Grey */
$color-8: white;
$color-9: black;

$font-1: #4d5458; /* Font Grey */
$font-2: #3bb1cd; /* Font Blue */
$font-white: white;
$font-black: black;

/* END Colors */


/* Global */

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

/* Media Queries */

@mixin breakpoint($point) {
  @if $point == xs {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == sm {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == md {
    @media (min-width: 992px)  { @content; }
  }
  @else if $point == lg {
    @media (min-width: 1200px)  { @content; }
  }
  @else if $point == print {
    @media print { @content; }
  }
  /* @include breakpoint(xs) { height:639px; } */
}

/*-- Windows Phone fix --*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/* END MQ */

html, html a {
    -webkit-font-smoothing: antialiased !important;
    font-size: 100%;

	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box; 
	box-sizing:        border-box;   /* Everything else */
}

img { 
	-ms-interpolation-mode: bicubic;
	max-width:100%;
}

* {
	box-sizing: border-box;
}

.v-wrap {
   display: table;
   width: 100%;
}

.v-inner {
   display: table-cell;
   vertical-align: middle;
}

hr {
	border:none;
	border-bottom: 1px solid $color-5;
}

body {
  	@include breakpoint(xs) {
		font-size: em(14);
		text-align: left;
	}
	@include breakpoint(sm) {
		font-size: em(15);
		text-align: left;
	}
	@include breakpoint(md) {
		font-size: em(16);
	}
	@include breakpoint(lg) {
		font-size: em(16);
	}
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin four-border-radius($tl, $tr, $br, $bl) {
-webkit-border-radius: $tl $tr $br $bl;
-moz-border-radius: $tl $tr $br $bl;
-ms-border-radius: $tl $tr $br $bl;
-o-border-radius: $tl $tr $br $bl;
border-radius: $tl $tr $br $bl;
}

@mixin text-shadow($blur, $color, $alpha) {
	text-shadow: 0 1px $blur rgba($color,$alpha);
}

@mixin box-shadow($blur, $color) {
	-webkit-box-shadow: 0 0 $blur 1px $color;
	box-shadow: 0 0 $blur 1px $color;
}

@mixin box-drop-shadow($horizontal, $vert, $blur, $color) {
	-webkit-box-shadow: $horizontal $vert $blur 1px $color;
	box-shadow: $horizontal $vert $blur 1px $color;
}


/* Fonts */

$font-stack-heading: "museo-sans", Helvetica, Arial, sans-serif;
$font-stack-paragraph: 'Open Sans', Helvetica, Arial, sans-serif;

body {
	font-family:$font-stack-paragraph;
	color:$font-1;
}

h1 {
	font-family:$font-stack-heading;
	font-size: em(45);
	line-height: 100%;
	font-weight:300;
	color: $color-1;
}

h2 {
	font-family:$font-stack-heading;
	font-size: em(33);
	line-height: 115%;
	font-weight: 300;
}

h3 {
	font-family:$font-stack-heading;
	font-size:em(22);
	line-height: 120%;
	font-weight: 300;
}

h4 {
	font-family:$font-stack-heading;
	font-size:em(18);
	line-height: 120%;
	font-weight: 500;

	margin-top:0;

	@include breakpoint(sm) {
		font-size:em(26);
	}
}

h5 {
	font-family:$font-stack-paragraph;
	font-size:em(18);
	font-weight: 700;
}

p, p a, li, li a, label {
	font-family:$font-stack-paragraph;
	font-size:em(16);
	line-height:180%;
}

label {
	font-weight:normal;
}
	
a {
	font-family:$font-stack-paragraph;
	text-decoration:none;
	cursor: pointer;
	color:$color-1;
	
	-webkit-transition: color linear 125ms;
	
	&:hover {
		text-decoration:none;
		color:$color-2;
	}

	&:active {
		color:$color-3;
	}
	
	&:focus { 
		outline: none; 
	}
}

*:focus { 
	outline: none; 
}

/* END Fonts */


/*-- Buttons --*/

a, button, input {


&.cta {
	@include border-radius(em(50));
	cursor:pointer;
	border:none;

	-webkit-transition: background-color linear 250ms;

	&.wide {
		width: 100%;
	}
}

.cta-text {
	vertical-align:middle;
	font-family:$font-stack-paragraph !important;
	padding:5px 0;
	font-size:em(14);
}

&.cta-xs {
	display: block;
	padding:2px 12px;
}

&.cta-sm {
	display: block;
	padding:10px 30px;
	font-size:em(16);

	@include breakpoint(md) {
		padding:6px 30px;
	}
}

&.cta-md {
	display: block;
	padding:7px 30px;
	font-size:em(18);
}

&.cta-lg {
	display: block;
	padding:16px 0;
	font-size:em(22);
}

&.cta.red {
	text-align:center;
	color:$font-white;
	background-color:$color-3;

	&.red:hover {
		color:$font-white;
		background-color:lighten($color-3, 8%);
	}
}


&.cta.blue {
	text-align:center;
	color:$font-white;
	background-color:$color-1;

	-webkit-transition: background-color linear 250ms;

	&.blue:hover {
		color:$font-white;
		background-color:darken($color-1, 15%);
	}
}

&.cta.green {
	text-align:center;
	color:$font-white;
	background-color:$color-2;

	&.green:hover {
		color:$font-white;
		background-color:lighten($color-2, 8%);
	}
}
}
.cta.shadow {
	@include box-shadow(em(8), rgba(black,0.3));
}

.cta.drop-shadow {
	@include box-drop-shadow(0, 1px, 1px, rgba(black,0.2));
}
/*-- /Buttons --*/


/*-- Spacers --*/ 

.spacer10 {
	display:block; width:100%; height:em(8); clear:both;
	@include breakpoint(md) { height:em(10); }	
}

.spacer15 {
	display:block; width:100%; height:em(10); clear:both;
	@include breakpoint(md) { height:em(15); }
}

.spacer20 {
	display:block; width:100%; height:em(15); clear:both;
	@include breakpoint(md) { height:em(20); }
}

.spacer30 {
	display:block; width:100%; height:em(25); clear:both;
	@include breakpoint(md) { height:em(30); }
}

.spacer40 {
	display:block; width:100%; height:em(30); clear:both;
	@include breakpoint(md) { height:em(40); }
}

.spacer50 {
	display:block; width:100%; height:em(40); clear:both;
	@include breakpoint(md) { height:em(50); }
}

.spacer60 {
	display:block; width:100%; height:em(40); clear:both;
	@include breakpoint(sm) { height:em(50); }
	@include breakpoint(md) { height:em(60); }
}

/*-- /Spacers --*/

/*-- Components --*/ 

.well {
	@include border-radius(12px);
	width: 100%;

	&.sm {
		padding: 8px 15px;
	}

	&.md {
		padding: 12px 18px;
	}

	&.lg {
		padding: 20px 35px;
	}

	&.clear {
		background-color:white;
		border:1px solid $color-4;
	}

	&.c1 {
		background-color:$color-1;
		border:1px solid darken( $color-1, 10% );
	}

	&.c4 {
		background-color: $color-4;
		border:1px solid darken( $color-4, 5% );
	}

	&.c7 {
		background-color: $color-7;
		border:1px solid darken( $color-7, 10% );
	}
}

ul.body {
	list-style:none;
	margin: 0 0 20px;
	padding: 0;

	@include breakpoint(sm) {
		list-style: square;
		margin: 0 0 20px 25px;
		padding: 0;
	}

	li {
		color:$font-1;
		padding-left: 10px;
		margin-bottom: 15px;

		@include breakpoint(sm) {
			margin-bottom: 8px;
		}
	}
}

.alert-danger, .woocommerce_error, .woocommerce-message, .mc4wp-alert {
	font-size: em(14);
	padding: 8px !important;
	@include border-radius(4px);

	
}

.alert-danger, .woocommerce_error, .mc4wp-error {
	background-color: lighten($color-3, 30%);
	border: 1px solid $color-3;
	color: $color-3;
}

.alert-success, .woocommerce-message, .mc4wp-success {
	background-color: lighten($color-2, 43%);
	border: 1px solid $color-2;
	color: $color-2;
}

form {
	text-align: left;
}

input.big {
	height:45px;
}
 

/*-- /Components --*/ 

/*-- /Global --*/


/*-- Header --*/

.sticky {
	position:fixed;
	display:block;
	width:100%;
	z-index: 99;
	top: 0;
	left: 0;
	
}

$header-height-xs: 80px;
$header-height-md: 95px;
header {
	display:block;
	padding-top:13px;
	padding-bottom:10px;
	height:$header-height-xs;

	background-color:$color-8;
	border-top:8px solid $color-1;
	@include box-drop-shadow(0px, 2px, 8px, rgba($color-7,0.09));

	@include breakpoint(md) {
		height:$header-height-md;
	}
}

img.nav-logo  {
	float: left;
	width:180px;
	height:51px;
	margin-right:15px;

	@include breakpoint(sm) {
		width:185px;
		height: 52px;
	}

	@include breakpoint(md) {
		width:225px;
		height: 63px;
	}
}

nav.desktop-nav {
	float: right;
	text-align: right;

	ul {
		list-style: none;
		float: left;
		padding:0px;

		text-align: right;

		li {
			display: inline-block;
			margin-right: em(10);

			font-size:em(15);
			font-weight: 600;

			@include breakpoint(md) {
				margin-right: em(22);
				font-size:em(16);
			}

			@include breakpoint(lg) {
				margin-right: em(45);
			}

			&:last-child {
				margin-right: 0;
			}
				

			&.main-login {
				margin-right: 0px;

				a {
					@include border-radius(em(50));
					display: block;
					margin-top: -2px;
					cursor:pointer;
					border:none;

					padding:3px 22px;
					font-size:em(16);

					text-align:center;
					color:$font-white;
					background-color:$color-1;

					-webkit-transition: background-color linear 250ms;

					&:hover {
						color:$font-white;
						background-color:darken($color-1, 15%);
					}

					i {
						margin-left: 10px;
						font-size: em(22);
					}
				}
			}

			.sub-menu {
				display: none;
			}

			ul.sub-menu {
				position: absolute;
				margin-left: -40px;
				z-index: 1000;
				width: 180px;
				padding:0px!important;
				text-align: center;
				background-color: rgba(darken( $color-4, 8%),0.8);
				border-top: 1px solid $color-1;
				@include four-border-radius(0, 0, 4px, 4px);
				@include box-drop-shadow(0px, 2px, 4px, rgba($color-9,0.1));
				overflow: hidden;

				li {
					display: inline-block;
					background-color:$color-4;
					padding: 0;
					margin: 0;
					width: 100%;
					font-weight: 300;
					border-bottom: 1px solid $color-8;

					a {
						display: block;
						padding:15px 0;
						line-height: 110%;
						border-bottom: none;
						font-size: em(14);

						-webkit-transition: background-color linear 225ms;

						&:hover {
							background-color: darken($color-4, 3%);

						}

					}

					&:last-child {
						border-bottom: none;
					}
				}
			}

			a {
				color:$color-6;
				padding-bottom:6px;
				border-bottom:1px solid rgba($color-8, 0.0);
				
				-webkit-transition: color linear 225ms;
				-webkit-transition: border-bottom linear 225ms;

				&:hover {
					color:$color-1;
				}

				&.cta-sm {
					padding:6px 22px;
				}
			}

			&:last-child { /*-- Sign in button --*/ 
				a {
					border-bottom:none;
				}
			}

			&.current_page_item {

				a {
					color:$color-1;
					border-bottom:1px solid $color-1;
				}
			}
		}
	}
}

.toggle-navigation { /*-- Mobile nav toggle icon --*/ 
	float: right;
	padding-top:7px;

	i {
		font-size: em(45);
		color:$color-1;
	}
}

nav.mobile-nav {
	display: none;
	margin-top: ($header-height-xs - 15px);
	background-color: $color-7;
	@include box-drop-shadow(0px, 3px, 8px, rgba($color-9,0.4));

	ul {

		li {

			text-align: center;
			font-size: em(16);
			font-weight:400;

			&.member-name, &.mobile-login {
				background-color:$color-1;

				a {
					color: $font-white;
				}
			}

			&.mobile-logout {
				background-color:$color-3;
				margin-bottom: 40px;

				a {
					color: $font-white;
				}
			}

			&.mobile-close {
				background-color:darken($color-7, 5%);

				a {
					color: $font-white;
				}
			}

			a {
				padding:18px 0;
				color: $font-white;

				padding-right: 0 !important;
				margin-right: 0 !important;

				&.mm-subopen {
					color:$color-8 !important;
					background-color:darken($color-7, 5%);

					&:after {
						border-color:rgba(255,255,255, 0.9) !important;
					}
				}

				&.mm-subclose {
					text-indent: 0px;
					color:$color-2 !important;
					&:before {
						border-color:rgba(255,255,255, 0.9) !important;
					}
				}
			}
		}
	}
}

.wrapper.member-nav {
	background-color: rgba($color-1, 0.9);
	border-bottom: 1px solid rgba($color-8, 0.6);
	color:$font-white;

	@include box-drop-shadow(0px, 2px, 8px, rgba($color-9,0.15));
}

nav.members {

	ul.member-only {
		line-height: 0;
		float: left;
		margin: 0;
		padding:0;
		list-style: none;

		li {
			display: inline-block;
			margin-right: 20px;
			padding-top:12px;
			padding-bottom:12px;

			&:last-child {
				margin-right: 0;
			}

			h3 {
				margin: 0;
			}

			a {
				color:$color-8;
				font-weight: 600;
				padding:5px 12px;
				background-color: rgba($color-1,0.1);
				@include border-radius(em(8));

				-webkit-transition: background-color linear 225ms;

				&:hover {
					background-color: rgba(darken( $color-1, 8%),0.8);
				}
			}
		}
	}

	ul.profile-links {
		margin: 0;
		padding:0;
		float: right;
		text-align: right;
		list-style: none;

		li {
			display: inline-block;
			padding: 12px 35px;
			background-color: darken($color-1,10%);

			i {
				font-size: em(20);
				margin-left: 5px;
			}
		}
	}

	ul.member-sub-menu {
		position: absolute;
		z-index: 1000;
		width: 180px;
		top: 49px !important;
		right: 15px;
		padding:0px!important;
		text-align: center;
		background-color: rgba(darken( $color-1, 8%),0.8);
		@include four-border-radius(0, 0, 12px, 12px);
		@include box-drop-shadow(0px, 2px, 4px, rgba($color-9,0.1));
		overflow: hidden;

		@include breakpoint(md) {
			top: 52px !important;
			right: 15px;
		}

		li {
			display: inline-block;
			background-color:$color-1;
			padding: 0;
			margin: 0;
			width: 100%;

			a {
				display: block;
				padding:10px 0;

				-webkit-transition: background-color linear 225ms;

				&:hover {
					background-color: darken($color-1, 8%);
				}


			}

			&:last-child {
				border-top: 1px solid rgba($color-8, 0.6);
				width: 100%;
				a {
					background-color: $color-3;

					&:hover {
						background-color: lighten($color-3, 10%);
					}
				}
			}
		}
	}
}

/*-- /Header --*/

.pushdown { /*-- Pushes the body down below the sticky nav - Control height in .sticky --*/ 
	display:block;
	margin-top:$header-height-xs;

	@include breakpoint(md) {
		margin-top:$header-height-md;
	}
}

.pushdown-member { /*-- Pushes the body down below the sticky nav - Control height in .sticky --*/ 
	display:block;
	margin-top:($header-height-xs);

	@include breakpoint(md) {
		margin-top:($header-height-md + 53px);
	}
}

/*-- Hero --*/

.hero {
	/* position: relative; */
	width: 100%;
	border-bottom:5px solid $color-7;
	
	/* background-attachment: fixed; */

	.hero-message {

		padding-top: 35px;
		padding-bottom: 35px;

		@include breakpoint(sm) {
			padding-top: 80px;
			padding-bottom: 80px;
		}

		@include breakpoint(md) {
			padding-top: 110px;
			padding-bottom: 110px;
		}

		@include breakpoint(lg) {
			padding-top: 160px;
			padding-bottom: 160px;
		}

		h1 {
			display: block;
			padding: 16px;
			margin: 0 0 15px;
			background-color:rgba($color-8, 0.75);
			@include border-radius(4px);
			font-size: em(35);
			color:darken($color-1, 5%);

			@include breakpoint(sm) {
				font-size: em(30);
				width: 95%;
			}

			@include breakpoint(md) {
				font-size: em(40);
			}

			@include breakpoint(md) {
				font-size: em(45);
			}
		}

		h3 {
			display: block;
			padding: 16px;
			background-color:rgba($color-8, 0.75);
			@include border-radius(4px);

			margin: 0 0 15px;
			color: $color-7;
			font-size: em(20);

			@include breakpoint(sm) {
				font-size: em(18);
				width: 95%;
			}

			@include breakpoint(md) {
				font-size: em(22);
			}
		}
	}
}

.next-program {
	width:100%;
	padding: 3px 0;

	border-top: 1px solid rgba($color-4, 0.5);
	background-color:rgba($color-7, 0.8);

	@include breakpoint(sm) {
		padding: 12px 0;
	}

	h4 {
		margin:10px 0 10px;
		color: $font-white;
		font-family: $font-stack-paragraph;
		font-size: em(16);

		@include breakpoint(sm) {
			text-align: center;
			margin:5px 0 0;
			font-size: em(21);
			font-family: $font-stack-heading;
		}

		@include breakpoint(md) {
			margin:2px 0 0;
			font-size: em(26);
		}
	}	
}

/*-- /Hero --*/

.wrapper {
	display: block;
	width: 100%;
	height:auto;

	&.c1 {
		background-color:$color-1;
	}

	&.c4 {
		background-color:$color-4;

		&.b-top {
			border-top:1px solid $color-5;
		}
		&.b-bottom {
			border-bottom:1px solid $color-5;
		}
	}

	&.c5 {
		background-color:$color-5;
	}

	&.c7 {
		background-color:$color-7;
	}
}


/*-- Section 1 --*/ 

$section1-height-xs: 120px;
$section1-height-sm: 240px;
$section1-height-md: 310px;
$section1-height-lg: 340px;

section {

	&.section-1 {

		padding-top: 15px;
		padding-bottom: 15px;

		@include breakpoint(sm) {
			height: $section1-height-sm;
			overflow: hidden;
			padding-top: 0px;
			padding-bottom: 0px;
		}

		@include breakpoint(md) {
			height: $section1-height-md;
		}

		@include breakpoint(lg) {
			height: $section1-height-lg;
		}

		h2 {
			margin: 0 0 13px;
			line-height: 100%;
		}

		p {
			margin: 0;
			line-height: 140%;
		}

		.img {
			width: 100%;
			height: 140px;
			margin-bottom: 15px;
			margin-left: auto;
			margin-right: auto;

			overflow: hidden;

			img {
				width: 100%;
				height: auto;
			}

			@include breakpoint(sm) {
				float: left;
				width: 50%;
				height: auto;
				margin:0;
			}
		}

		.content {
			width: 100%;

			@include breakpoint(sm) {
				width: 50%;
				padding:0 30px;
			}

			@include breakpoint(md) {
				padding:0 75px;
			}

			@include breakpoint(lg) {
				padding:0 100px;
			}

			.v-wrap {
				height: $section1-height-xs;
				vertical-align: middle;

				@include breakpoint(sm) {
					height: $section1-height-sm;
				}

				@include breakpoint(md) {
					height: $section1-height-md;
				}
			}
		}

		&.top {

			h2 {
				color: $font-white;
			}

			p {
				color: $font-white;
			}

			@include breakpoint(sm) {
				.img {
					float: left;
				}
				.content {
					float: right;
				}
			}
		}

		&.bottom {
			h2 {
				color: $color-7;
			}

			p {
				color: $color-7;
			}

			@include breakpoint(sm) {
				.img {
					float: right;
				}
				.content {
					float: left;
				}
			}
		}
	}
}

/*-- /Section 1 --*/ 


@mixin section-setup($xs-bottom, $sm-bottom) {
	padding-top:5px;
	padding-bottom: $xs-bottom;

	@include breakpoint(sm) {
		padding-top:20px;
		padding-bottom: $sm-bottom;
	}
}


/*-- Section 2 - How it works --*/

.section-2 {

	@include section-setup(30px, 60px);

	h2 {
		text-align:center;
		color: $font-2; 
	}

	p {
		@include breakpoint(sm) {
			text-align: center;
		}

		@include breakpoint(md) {
			text-align: left;
		}
	}
}

/*-- /Section-2 --*/  


/*-- Section 3 - Who is Wellvess for? --*/
.section-3-img {

	border-top:5px solid $color-1 !important;
	border-bottom:1px solid $color-8 !important;

	.img {
		text-align: center;
		display: block;
		height: 75px;
		width: 100%;
		background: url(../../img/foody.jpg) no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		@include breakpoint(sm) {
			height: 100px;
		}

		@include breakpoint(md) {
			height: 120px;
		}

		@include breakpoint(lg) {
			height: 150px;
			background: url(../../img/foody.jpg) no-repeat center center;
		}
		
	}
}

.section-3 {

	@include section-setup(30px, 60px);



	h2 {
		text-align:center;
		color: $color-7; 
	}

	p {
		text-align: center;
	}

	.multiColumn {

		@include breakpoint(md) {
			-moz-column-count: 2;
		    -moz-column-gap: 10px;
		    -webkit-column-count: 2;
		    -webkit-column-gap: 10px;
		    column-count: 2;
		    column-gap: 10px;
		}
	}

	ul {
		margin:0 20px;
		list-style: none;

		@include breakpoint(md) {
			margin:0 0 0 100px;
		}

		li {

			text-align: left;

			&:before {
				content:"";
				display: block;
				width: 40px;
				height: 30px;
				background: url('../../img/tick.svg') no-repeat left;
				position:relative;
				left: -40px;
				top:25px;
			}	

			@include breakpoint(md) {
				padding-left:15px;

				&:before {
					width: 40px;
					height: 30px;
					left: -70px;
					top:28px;
				}				
			}
		}
	}
}

/*-- /Section-3 --*/ 


/*-- Section 4 - What will you get --*/

.section-4 {

	@include section-setup(0, 0);

	h2 {
		text-align:center;
		color: $font-2; 
	}

	p {
		text-align: center;
	}

	.thumbnail {
		text-align: center;
		margin-top: 40px;

		p {
			font-size: 85%;
		}

		img {
			width: 154px;
			height: 154px;
		}

		.dietician {
			position: absolute;
			width: 65px;
			height: 65px;
			left: 100px;
			top: 10px;
			z-index: 10;

			img {
				width: 65px;
				height: 65px;
			}

			@include breakpoint(sm) {
				width: 80px;
				height: 80px;
				left: 214px;
				top: 10px;

				img {
					width: 80px;
					height: 80px;
				}
			}

			@include breakpoint(md) {
				left: 147px;
			}

			@include breakpoint(lg) {
				left: 173px;
			}
		}
	}
}

/*-- /Section-4 --*/


/*-- Section 5 - Products --*/

.section-5 {

	@include section-setup(30px, 45px);

	h2 {
		text-align:center;
		color: $font-2; 
	}

	p {
		text-align: center;
	}
}

.products {

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {

			&.product-item {

				@include border-radius(12px);
				padding:10px 15px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 25px;
				border:1px solid $color-6;
				text-align: center;
				width: 85%;
				background-color: $color-8;

				@include breakpoint(sm) {
					margin-right: 20px;
					margin-bottom: 0px;
					padding:20px 15px;
					border:1px solid $color-7;
					text-align: center ;
					float:left;
					width: 48%;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	

	h1 {
		font-size: em(45);
		font-weight: 700;
		margin: 10px 0 5px;
	}

	h3 {
		font-weight: 500;
		margin: 0;
	}

	p {
		margin: 0 0 10px;
		color: $color-6;
		font-size: 85%;
	}

	.or {
		width: 100%;
		text-align:center;
		color: $color-3;
		margin: 0 0 15px;

		@include breakpoint(sm) {
			float: left;
			width: 10%;
			margin-top: 80px;
		}
	}
}

/*-- /Section-5 --*/   


/*-- Section 6 - Testimonial --*/

.section-6 {

	@include section-setup(15px, 35px);

	p {
		margin-top: 20px;
		font-style: italic;
		line-height: em(22);

		small {
			font-style: normal;
		}
	}

	img {
		margin: 10px 0 0;
		width: 160px;
		height: 160px;

		@include breakpoint(sm) {
			float: right;
		}
	}
}

/*-- /Section-6 --*/


/*-- Social --*/

.social {

	@include section-setup(30px, 45px);

	h2 {
		color: $font-white;
		text-align: center;

		@include breakpoint(md) {
			text-align: left;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		text-align: center;
		margin:0px;

		@include breakpoint(md) {
			margin: 40px 0 0 20px;
			text-align: left;
		}

		li {
			display: inline-block;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			@include breakpoint(sm) {
				margin-right: 35px;
			}
		}
	}

	img {
		margin-bottom: 20px;
		max-width: 70px;
		height: auto;

		@include breakpoint(sm) {
			margin-top: 20px;
			max-width: 85px;
		}

		@include breakpoint(md) {
			max-width: 105px;
		}
	}

	form {
		background-color:$color-4;
		padding:5px 20px 20px;
		@include border-radius(12px);
		border:1px solid $color-8;

		input {
			margin-bottom: 0;

			@include breakpoint(sm) {
				margin-bottom: 15px;
			}

			@include breakpoint(md) {
			}
		}

		p {
			text-align: center;
			line-height: 130%;

			@include breakpoint(md) {
				text-align: left;
				line-height: 130%;
			}
		}
	}

	hr {
		margin:30px 0 20px;
	}
}

/*-- /Social --*/

.like-box {
	@include section-setup(20px, 30px);
}


/*-- Footer --*/

footer {
	
	text-align: center;

	@include section-setup(0, 20px);

	span {
		display: block;
		margin-top: 20px;
		font-size: em(14);
		color:$color-6;
	}

	ul {
		list-style:none;
		margin: 20px 0;
		padding: 0;
		

		li {
			padding: 10px 0;
			border:1px solid rgba($color-4, 0.4);	
			margin-bottom: 10px;			

			span, a {
				display: block;
				font-size: em(14);
				color:$color-6;
			}

			@include breakpoint(sm) {
				display: inline-block;
				margin-bottom: 0;
				padding: 0;
				border:none;

				span, a {
					display: inherit;
					font-size: em(12);
				}

				&:after {
					content: '|';
					margin-right: 10px;
					margin-left: 10px;
					color:$color-5;
				}

				&:last-child {
					&:after {
						content: '';
						margin-right: 0;
						margin-left: 0;
					}
				}
			}
		}
	}

	img {
		width: 200px;
		height: auto;
	}

}

.wrapper {

	&.top {
		display: block;
		width: 100%;
		border-top:5px solid $color-1;

		&:before {
			content: '';
			display: block;
			width: 100%;
			border-top:1px solid $color-4;
		}

		&:after {
			content: '';
			display: block;
			width: 100%;
			border-bottom:1px solid $color-8;
		}
	}	
	a, span {
		color:$font-white;
	}
}

/*-- /Footer --*/ 

/*-- Disclaimer --*/ 

.section-7 {
	text-align:center;
	color:$font-white;
	padding-top: 5px;
	padding-bottom: 7px;

	p {
		font-size: em(11);
		line-height: 135%;

		@include breakpoint(sm) {
			line-height: 100%;
		}
	}
}

/*-- /Disclaimer --*/ 


#fb-root {
display: none;
}

/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
width: 100% !important;
}



/*--------------------------------------------------------------------------------  Sub Pages  --------------------------------------------------------------------------------------------------------------------------------*/

/*--

.sub-page
.payment
Woo Custom - Checkout
Payment Summary table
Payment options
Agree terms
Woo Custom - Thank you
.join-today
Team

--*/

.wrapper {

	&.sub {
		padding: 20px 0;
		margin-bottom: 40px;

		background-image: url('../../img/blue-bg.gif');

		border-bottom: 1px solid darken($color-1, 15%);

		h1, p, h2 {
			color:$font-white;
		}

		h1 {
			margin-top: 0px;

			@include breakpoint(sm) {
				margin-top: 10px;
			}
		}

		@include breakpoint(sm) {
			padding: 50px 0;
		}

	}
}

.sub-page {

	.page-title {

		h1 {
			margin-bottom: 0;
			font-weight: 300;
		}
	}

	section {
		
		word-wrap: break-word;

		h2 {
			display: inline-block;
			margin-top: 10px;
			margin-bottom: 15px;
			border-bottom: 1px solid $color-1;
		}
			
		/*-- Editor Styles --*/


		p img, h2 img {

			width: 100%;
			height: auto;

			&.alignnone {
				display: block;
				width: 100%;
				height: auto;
			}

			&.alignright {
				display: inline;
				float: right;
				margin: 10px;
				border-left: 1px solid $color-1;
				padding: 5px 5px 5px 10px;
			}

			&.alignleft {
				display: inline;
				float: left;
				margin: 10px;
				border-right: 1px solid $color-1;
				padding: 5px 10px 5px 5px;
			}

			&.aligncenter {
				display: block;
				margin: 10px;
				margin-left: auto;
				margin-right: auto;
				border-bottom: 1px solid $color-1;
				padding: 10px 5px;
			}
		}

		ul, ol {

			margin-left:10px;
			padding-left:20px;


			li {
				padding-left:20px;
				margin-bottom: 8px;
			}
		}

		ul {
			list-style: square; 
		}
	}

	.xoxo {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	ul.menu {
		margin-top: 6px;
		padding: 10px;
		list-style: none;

		li {
			padding: 4px 0;
			text-align: left;
			border-bottom: 1px solid rgba($color-5, 0.6);

			a {
				display: block;
				padding: 12px 8px;
				color: $font-1;

				&:hover {
					color:$color-8;
					background-color: rgba($color-1, 1);
				}

				-webkit-transition: background-color linear 250ms;
			}

			&:first-child {
				padding-top: 0;
			}

			&.current-menu-item {
				a {
					background-color: rgba($color-4, 0.5);
					border-right:10px solid $color-1;
					padding-left: 10px;

					&:hover {
					color:$color-8;
					background-color: rgba($color-1, 1);
				}
				}
			}
		}
	}
}

/*-- FAQ --*/ 

.faq-panel {

	border-bottom: 1px solid $color-4;
	margin: 20px 0;

	h3 {
		display: inline-block;
		width: 80%;

		@include breakpoint(sm) {
			width: 90%;
		}
	}

	i {
		display: inline-block;
		width: 8%;
		text-align: right;
		margin-right:10px;
		margin-top: 6px;
		float: right;
		color:$font-1;
	}

	p {
		border-left: 1px solid $color-1;
		padding-left: 25px;
		margin-top: 0;
		width: 90%;
	}
}

/*-- /FAQ --*/ 


.payment {

	label {
		margin-top:10px;
	}

	text-align:left;

	.secure-page {
		padding: 8px;
		width: 45px;
		margin-top: 28px;
		background-color: $color-2;
		text-align: center;

		@include border-radius(6px);

		img {
			width: 18px;
			height: auto;
		}
	}

	$products-height-xs: 128px;

	.products {
		display: inline-block;
		width: 100%;
		height: $products-height-xs;
		border: 1px solid $color-5;
		@include border-radius(12px);

		.product-item {
			float: left;
			border: none;
			width: 50%;
			height: 100%;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 0;
			margin-left: 0;
			margin-right: 0;
			border-right: 1px solid $color-5;
			@include border-radius(0);
		}

		.product-message {
			width: 50%;
			height: 100%;
			float: right;
			padding: 0 15px;
			background-color:$color-4;
			@include four-border-radius(0px, 12px, 12px, 0px);

			p {
				font-size: em(13);
				color:$color-1;
			}
		}

		.v-wrap {
			height: $products-height-xs;
			vertical-align: middle;
		}
	}

	h3 {
		margin-top: 0;
	}

	hr {
		border-color: $color-4;
	}

	/*-- Woo Custom - Checkout --*/
	

	/*-- Hide cart info --*/ 
	.woocommerce-message, .woocommerce-shipping-fields {
		display: none;
	}

	.apply-code {
		margin-top: 12px;
		
		@include breakpoint(md) {
			margin-top: 4px;
		}
	}

	.required {
		border: none;
		color:$color-3;
	}

	/*-- Payment Summary table --*/ 

	table {

		margin-bottom: 30px;

		&.shop_table {
			width: 100%;
			margin-left: auto;
			margin-right: auto;

			@include breakpoint(md) {
				width: 90%;
			}

			thead {
				background-color: $color-4;
				border-bottom: 1px solid $color-5;
			}

			tfoot {
				background-color: $color-1;
				border-bottom: 1px solid darken($color-1,13%);
				@include border-radius(12px);
				color:$font-white;

				tr.order-discount {
					background-color:$color-2;
					border-bottom: 1px solid $color-8;

					a {
						color:$font-white;
					}

					td {
						text-align: center !important;
					}
				}

			}

			tr {
				height: em(40);
				@include border-radius(12px);
			}

			th, td {
				padding: 8px;
			}

			.product-total, tr.order-total td  {
				text-align: center;
			}

			.cart-subtotal {
				display: none;
			}
		}
	}

	p#ss_wc_mailchimp_opt_in_field {
		display: block;
		width: 100%;
		padding-left: 20px;

		input#ss_wc_mailchimp_opt_in {
			display: inline;
		}

		label {
			display: inline;
		}
	}



	/*-- /Payment Summary table --*/

	/*-- Payment options --*/
	ul {

		list-style: none;
		margin: 0 0 20px;
		padding: 0;

		&.payment_methods {
			
			li {
				margin-bottom: 20px;

				@include breakpoint(sm) {
					margin-bottom: 1px;
				}
			}

			label {
				font-family: $font-stack-heading;
				font-size: em(22);
				font-weight: 300;
			}

			.payment_box {

				margin-bottom: 25px;

				fieldset, &.payment_method_paypal p {
					width: 100%;
					margin-left: auto;
					margin-right: auto;
					padding: 6px;
					background-color: $color-4;
					border:1px solid darken( $color-4, 5% );

					@include border-radius(12px);

					@include breakpoint(md) {
						width: 90%;
						padding: 12px 18px;
					}

					.stripe_new_card {

						fieldset {
							width: 100%;
							padding: 15px;
							background-color: $color-8;
							border:1px solid darken( $color-5, 5% );

							@include breakpoint(md) {
								padding: 12px 18px;
							}

							@include border-radius(5px);

							label {
								font-size: em(16);
								display: block;

								@include breakpoint(md) {
									display: inline-block;
									width: 38%;
									padding-right: 20px;
									text-align: right;
								}

								@include breakpoint(lg) {
									width: 28%;
								}
							}

							input {
								display: block;
								width: 100%;
								height: 45px;
								padding: 6px 12px;
								font-size: 14px;
								line-height: 1.42857143;
								color: #555;
								background-color: #fff;
								background-image: none;
								border: 1px solid #ccc;
								border-radius: 4px;
								-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
								box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
								-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
								-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
								transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

								@include breakpoint(md) {
									display: inline-block;
									width: 60%;
								}

								@include breakpoint(lg) {
									width: 70%;
								}
							}
						}
					}
				}
			}

		}
	}
	/*-- /Payment options --*/

	/*-- Agree terms --*/ 
	
	.terms {

		text-align: center;
		
		@include breakpoint(sm) {
			text-align: left;
		}


		label {
			display: inline-block;
			margin-right: 8px;
		}
	}

	/*-- /Agree terms --*/ 

	/*-- /Woo Custom - Checkout --*/  

	/*-- Woo Custom - Thank you --*/

	table {

		&.order_details {

			tfoot {
				background-color: $color-1;
				border-bottom: 1px solid darken($color-1,13%);
				@include border-radius(12px);
				color:$font-1;

				tr {
					background-color:$color-4;
					border-bottom: 1px solid $color-5;

					td {
						text-align: center !important;
					}
				}
			}
		}
	}

	/*-- /Woo Custom - Thank you --*/

}

/*-- Join Wellvess --*/

.join-today {

	h4, h1 {
		text-align: center;
		color:$font-white;
	}

	.products {
		
		li.product-item {
			border:1px solid darken($color-1, 15%);
		}
		h1 {
			.amount {
				color:$color-1;
			}
		}
		p {
			color:$color-6;
		}
	}
}

.next-program {
	&.join {
		margin-top: -41px;
		background-color: $color-7;

		h4 {
			color:$color-5;
		}
	}
}

.section-3 {
	&.join {

		span {
			display: block;
			margin-top: 35px;
			width: auto;
			height: 550px;
			overflow: hidden;
		}

		img {
			float:right;
		}
	}
}

/*-- /Join Wellvess --*/


/*-- Team --*/

.team {

	.member {

		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;

		img {
			display: block;
			width: 160px;
			height: auto;
			margin-right:auto;
			margin-left: auto;

			@include breakpoint(sm) {
				width: 30%;
				height: auto;
				display: block;
				float: left;
				margin-right: 5%;
			}

			@include breakpoint(md) {
				width: 20%;
			}
		}

		.content {
			display: block;


			@include breakpoint(sm) {
				text-align: left;
				display: block;
				float: right;
				width: 60%;
			}

			@include breakpoint(md) {
				width: 75%;
			}

			h2 {
				span {
					font-size: 80%;
					color:$color-5;
				}
			}
		}
	}
}

/*-- /Team --*/

/*--------------------------------------------------------------------------------  My Profile  --------------------------------------------------------------------------------------------------------------------------------*/

.my-profile, .current-plan {
	h2 {
		margin-bottom: 30px !important;
		border-bottom: none !important;
	}
}

.current-plan {

	table {
		width: 100%;

		thead th {
			background-color: $color-1;
			padding: 10px 5px;
			color:$font-white;
		}

		tbody td {
			background-color: $color-4;
			padding: 10px 5px;
			color:$font-1;
		}
	}
}

/*-- /My Profile --*/ 


/*--------------------------------------------------------------------------------  Program  --------------------------------------------------------------------------------------------------------------------------------*/

/*--

Program Index

--*/

/*-- Program Index --*/

.wrapper {
	&.program {
		background-color: $color-7;
		border-top: 5px solid $color-1;
		border-bottom: 1px solid $color-8;

		background-image: url('../../img/program-bg.jpg');
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: cover;

		-webkit-box-shadow:inset 0px 2px 16px 1px rgba(0,0,0,0.15);
		box-shadow:inset 0px 2px 16px 1px rgba(0,0,0,0.15);

		@include breakpoint(md) {
			border-top: none;
		}
	}

	&.weeks {
		background-color: $color-4;
		margin-bottom: 30px;
	}
}

.program-header {
	
	padding-top: 25px;
	padding-bottom: 25px;

	@include breakpoint(sm) {
		padding-top: 35px;
	padding-bottom: 35px;
	}

	h1 {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 8px;
		color:$font-white;
		font-size: em(35);

		@include breakpoint(sm) {
			font-size: em(45);
		}
	}
	h3 {
		margin-top: 0;
		margin-bottom:5px;
		margin-left: 8px;
		color:$color-2;

		@include breakpoint(sm) {
			margin-bottom: 0;
		}
	}
	h2 {
		margin-top: 5px;
		margin-bottom:0;
		font-size: em(20);
		color:$font-white;

		@include breakpoint(sm) {
			text-align: right;
			font-size: em(25);
		}

		@include breakpoint(md) {
			font-size: em(33);
		}
	}

	i {
		font-size: em(20);
	}
}

nav.program-weeks {

	ul {
		list-style: none;
		margin: 15px 0;
		padding: 0;
		width: 100%;
		text-align: center;

		li {
			display: inline-block;
			text-align: center;
			padding: 10px 0px;
			font-size: em(12);
			margin-right: 0.4%;
			height: 100%;
			width: 10%;

			@include breakpoint(lg) {
				margin-right: 0.9%;
				width: 10%;
				font-size: em(14);
				font-weight: 400;
			}

			&:last-child {
				margin-right: 0;
			}

			&.future {
				background-color:lighten($color-4,5%);
				color:darken($color-5, 10%);
				
				@include border-radius(50px);
				@include text-shadow(1px, $font-white, 0.99);
			}

			&.publish {
				background-color:$color-1;
				
				@include border-radius(50px);

				-webkit-transition: background-color linear 250ms;

				&:hover {
					background-color:$color-2;
				}

				a {
					color:$font-white;
				}
			}

			&.draft {
				background-color:$color-7;
				@include border-radius(50px);

				a {
					color:$font-white;
				}
			}

			&.publish, &.draft {

				@include text-shadow(1px, $color-7, 0.6);

				i {
					font-size: em(26);
					vertical-align: middle;
				}
			}
		}
	}
}

nav.program-weeks-mobile {
	ul {
		list-style: none;
		margin: 10px 0 0;
		padding: 10px 10px;
		width: 100%;
		text-align: center;
		@include border-radius(12px);
		overflow: hidden;

		background-color: $color-8;

		li {
			padding: 10px 2px;
			text-align: center;

			border-bottom: 1px solid $color-4;

			&:last-child {
				border-bottom: none;
			}

			&.future {
				background-color:lighten($color-4,5%);
				color:darken($color-5, 10%);
			}

			&.publish {
				background-color: $color-2;
				a {
					color:$color-8;
				}
			}

			&.draft {
				background-color: $color-7;
				a {
					color:$color-8;
				}
			}

			&.publish, &.draft {

				i {
					font-size: em(20);
					vertical-align: middle;
				}
			}
		}
	}
}

.week-intro {
	h1 {
		display: inline-block;
		margin: 12px 0 0;
	}

	i {
		font-size: em(22);
		font-weight: normal;
		margin-left: 12px;
		margin-bottom: 12px;
		vertical-align: middle;
	}
	span {
		text-transform: lowercase;
	}
}

.welcome-message {
	.well {
		margin-top: 12px;
	}
}

.week-breadcrumb {
	margin-left: 6px;

	i {
		display: inline-block;
		color:$color-2;
		font-size: em(18);
	}

	span {
		color:$color-6;
	}
}

section.food-tile {

	text-align:left;
	
	h2 {
		text-align: center;

		@include breakpoint(sm) {
			text-align: left;
		}
	}

	ul {
		list-style: none;
		margin: 0 0 30px;
		padding: 0;
		width: 100%;

		a li {
			display: block;
			width: 100%;
			padding: 4px;
			margin-bottom: 5px;
			border: 1px solid $color-4;

			@include border-radius(4px);

			color:$font-1;
			font-size: em(13);

			@include breakpoint(md) {
				font-size: em(16);
			}

			-webkit-transition: background-color linear 250ms;

			&:hover {
				background-color:$color-4;
			}

			h5 {
				display: inline-block;
				word-wrap: break-word;
				vertical-align: middle;
				width: 55%;
			}

			img {
				display: inline-block;
				height: 110px;
				width: auto;
				margin-right: 25px;
			}
		}
	}
}
.wrapper {
	.forum {
		h2 {

		}

		#bbpress-forums {
			font-size: 100%;
		}

		.bbp-topic-title a, .bbp-topic-freshness a {

			color: $font-1;

			&.bbp-topic-permalink {
				font-size: em(14) !important;
			
				@include breakpoint(sm) {
					font-size: em(20) !important;
				}
			}
		}

		.bbp-header, .bbp-footer {
			background-color:$color-4 !important;
		}


	}
}

#bbpress-forums {

	.bbp-breadcrumb {
		display: none;
	}

	textarea {
		&.bbp-the-content {
			border: 1px solid $color-5 !important;
			border-top: none !important;
		}
	}
}



.shopping-list {
	display: block;
	width: 100%;
	background-color: #fff4c7;
	padding: 40px;
	margin-top: 40px;
	margin-bottom: 30px;

	@include border-radius(20px);

	h2 {
		display: inline-block;
		margin:15px 0 5px;
		color: #48311d;
		border-bottom:1px solid #48311d;
	}

	p {
		color: #48311d;
		font-style: italic;
	}

	ul {
		margin:30px;
		list-style: none;
		padding: 0;

		li {
			color: #48311d;
			font-style: italic;
			margin:15px 0;
			padding-left: 15px;
			padding-bottom: 10px;
			border-bottom:1px dashed rgba(#48311d, 0.4);
		}
	}
}

.week-content {

	word-wrap: break-word;

		h2 {
			display: inline-block;
			border-bottom: 1px solid $color-1;
		}
			
		/*-- Editor Styles --*/


		img, p img, h2 img {

			max-width: 100%;
			height: auto;

			&.alignnone {
				display: block;
				width: 100%;
				height: auto;
			}

			&.alignright {
				display: inline;
				float: right;
				margin: 10px;
				border-left: 1px solid $color-1;
				padding: 5px 5px 5px 10px;
			}

			&.alignleft {
				display: inline;
				float: left;
				margin: 10px;
				border-right: 1px solid $color-1;
				padding: 5px 10px 5px 5px;
			}

			&.aligncenter {
				display: block;
				margin: 10px;
				margin-left: auto;
				margin-right: auto;
				border-bottom: 1px solid $color-1;
				padding: 10px 5px;
			}
		}

		ul, ol {

			margin-left:10px;
			padding-left:20px;


			li {
				padding-left:20px;
				margin-bottom: 8px;
			}
		}

		ul {
			list-style: square; 
		}
}

/*-- /Program Index --*/

/*-- Week Index --*/

.weeks-meal-plan {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;

		li {
			float: left;
			padding: 8px;
			margin-right: 1%;
			margin-bottom: 1%;
			width: 100%;
			border: 1px solid $color-4;

			@include border-radius(4px);

			@include breakpoint(sm) {
				margin-right: 1%;
				margin-left: 0;
				width: 32%;
			}

			@include breakpoint(md) {
				margin-right: 1%;
				width: 19%;
			}

			&:last-child {
				margin-right: 0;
			}

			
			article {
				display: block;
				min-height: 240px;
				overflow: hidden;

				@include breakpoint(sm) {
					min-height: 372px;
				}

				@include breakpoint(md) {
					min-height: 322px;
				}

				@include breakpoint(lg) {
					min-height: 372px;
				}

				h3 {
					display: block;
					padding: 3px 6px;
					margin: 0;

					background-color: $color-1;
					border-bottom: 1px solid $color-8;
					color:$color-8;
				}
				
				img {
					float: left;
					display: inlinle-bock;
					margin-right: 20px;
					width: 30%;

					@include breakpoint(sm) {
						width: 100%;
						margin-left: auto;
						margin-right: auto;
					}

					@include breakpoint(md) {
						width: 100%;
					}
				}

				.recipe-details {
					display: block;
					width: 100%;
					background-color: $color-4;
					border-top: 1px solid $color-5;
					border-bottom: 1px solid $color-5;
					color:$color-6;

					text-align: center;

					span {
						margin-right: 10px;
					}

				}

				p {
					text-align: center;
					margin: 7px 0 5px;
					line-height: 120%;
					font-size: 95%;
					color:$font-1;
				}
			}
		}
	}
}

ul.wv-tabs {

	h4 {
		font-weight: 300;
		margin: 10px 5px;
		font-size: em(18);

		@include breakpoint(md) {
			margin: 12px 15px;
			font-size: em(24);
		}
	}

	li {

		a {
			border: 1px solid $color-4;
			border-bottom: 1px solid darken($color-4, 10%);
			background-color: lighten($color-4, 5%);
			margin:0 4px;

			color:$color-6;

			&:hover {
				background-color: $color-2;
				color:$font-white;
			}
		}
		
		&.active {
			a {
				color:$color-1;

				h4 {
					font-weight: 500;
				}

				&:hover {
					background-color: $color-1;
					color:$font-white;
				}
				
			}
		}
	}
}

/*-- /Week Index --*/


/*--------------------------------------------------------------------------------  Widgets  --------------------------------------------------------------------------------------------------------------------------------*/

/*--



--*/

/*-- Program Index --*/